Repository RosarioBA/Semester-project-2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{html,css}": ["prettier --write"]
}

removed listings from menu
  src/js/features/auth/register.js
  src/pages/register.html
  src/pages/single-listing.html
Due: eslint --fix, prettier --write

creating a sticky footer
  src/index.html
  src/pages/active-bids.html
  src/pages/listings.html
  src/pages/single-listing.html
Due: prettier --write

created nicer favicon
  src/images/Picture1.png
  src/images/favicon-32x32.png
Due: none

fixed index padding
  src/index.html
Due: prettier --write

Update README.md
  README.md
Due: none

deleted console
  src/js/api/listings/index.js
  src/js/features/listings/activeBids.js
  src/js/features/listings/editListing.js
  src/js/index.js
  src/js/utils/userData.js
Due: eslint --fix, prettier --write

fix: resolve ESLint errors in vite config and profile page
  README.md
  src/index.html
  src/js/api/listings/index.js
  src/js/features/auth/register.js
  src/js/features/listings/activeBids.js
  src/js/utils/userData.js
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
  vite.config.js
Due: eslint --fix, prettier --write
