Repository RosarioBA/Semester-project-2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{html,css}": ["prettier --write"]
}

putting the right hamburger menu on desktop screen
  src/js/utils/listingUtils.js
  src/pages/listings.html
Due: eslint --fix, prettier --write

getting rid of expired listings
  src/index.html
  src/js/api/listings/index.js
  src/js/handlers/listings.js
  src/js/handlers/listingsPage.js
  src/js/handlers/singleListing.js
  src/js/utils/listingUtils.js
  src/pages/active-bids.html
  src/pages/listings.html
  src/pages/my-listings.html
  src/pages/single-listing.html
Due: eslint --fix, prettier --write

feat: enable public access to single listings
  src/js/api/listings/index.js
  src/js/handlers/singleListing.js
  src/pages/active-bids.html
  src/pages/create-listing.html
Due: eslint --fix, prettier --write

seller's name clickable and link to their profile page
  src/js/handlers/singleListing.js
Due: eslint --fix, prettier --write

modify the profile page to show a different view when looking at someone else's profile
  src/pages/profile.html
Due: prettier --write

modify the profile page to show a different view when looking at someone else's profile
  src/js/handlers/profile.js
Due: eslint --fix, prettier --write

feat: enhance profile page with separated listings view
  src/js/handlers/profile.js
  src/js/utils/profileListings.js
Due: eslint --fix, prettier --write

getting rid of unused files
  src/js/main.js
Due: eslint --fix, prettier --write

cleaning files with lint and prettier
  src/index.html
  src/js/api/listings/index.js
  src/js/api/profiles/index.js
  src/js/handlers/carousel.js
  src/js/handlers/dropdown.js
  src/js/handlers/editListing.js
  src/js/handlers/index.js
  src/js/handlers/listings.js
  src/js/handlers/listingsPage.js
  src/js/handlers/login.js
  src/js/handlers/profile.js
  src/js/handlers/register.js
  src/js/handlers/singleListing.js
  src/js/routes.js
  src/js/utils/listingUtils.js
  src/js/utils/loadingStates.js
  src/js/utils/profileListings.js
  src/pages/active-bids.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
Due: eslint --fix, prettier --write

refactoring files like for auth for better organization
  src/js/features/auth/login.js
  src/js/features/auth/logout.js
  src/js/features/auth/register.js
  src/js/features/auth/toggleAuth.js
  src/js/features/listings/listingsPage.js
  src/js/features/listings/singleListing.js
  src/js/handlers/index.js
  src/pages/login.html
  src/pages/register.html
  src/pages/single-listing.html
Due: eslint --fix, prettier --write

refactoring files like for auth for better organization
  src/index.html
  src/js/components/carousel.js
  src/js/components/dropdown.js
  src/js/components/navigation.js
  src/js/components/userInfo.js
  src/js/features/listings/activeBids.js
  src/js/features/listings/bid.js
  src/js/features/listings/createListing.js
  src/js/features/listings/editListing.js
  src/js/features/listings/listings.js
  src/js/features/listings/myListings.js
  src/js/features/listings/singleListing.js
  src/js/features/profile/profile.js
  src/js/features/search/search.js
  src/js/index.js
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/profile.html
  src/pages/single-listing.html
Due: eslint --fix, prettier --write

added jsDocs on all files
  src/js/api/bids/index.js
  src/js/api/listings/index.js
  src/js/api/profiles/index.js
  src/js/components/carousel.js
  src/js/components/dropdown.js
  src/js/components/userInfo.js
  src/js/features/auth/login.js
  src/js/features/auth/logout.js
  src/js/features/auth/register.js
  src/js/features/auth/toggleAuth.js
  src/js/features/listings/activeBids.js
  src/js/features/listings/bid.js
  src/js/features/listings/createListing.js
  src/js/features/listings/editListing.js
  src/js/features/listings/listings.js
  src/js/features/listings/listingsPage.js
  src/js/features/listings/myListings.js
  src/js/features/listings/singleListing.js
  src/js/features/profile/profile.js
  src/js/features/search/search.js
  src/js/routes.js
  src/js/utils/loadingStates.js
  src/js/utils/profileListings.js
Due: eslint --fix, prettier --write

add owner edit button to single listing view
  src/index.html
  src/js/features/listings/activeBids.js
  src/js/features/listings/singleListing.js
Due: eslint --fix, prettier --write

fix: improve active listings filter
  src/js/api/listings/index.js
  src/js/features/listings/listingsPage.js
  src/pages/listings.html
Due: eslint --fix, prettier --write

build: setup tailwind for production
  package-lock.json
  package.json
  src/index.html
  src/js/components/carousel.js
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
  src/styles/main.css
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write

style: format code and fix lint errors
  src/index.html
  src/js/api/listings/index.js
  src/js/components/carousel.js
  src/js/components/dropdown.js
  src/js/components/navigation.js
  src/js/components/userInfo.js
  src/js/features/auth/login.js
  src/js/features/auth/logout.js
  src/js/features/auth/register.js
  src/js/features/auth/toggleAuth.js
  src/js/features/listings/activeBids.js
  src/js/features/listings/bid.js
  src/js/features/listings/createListing.js
  src/js/features/listings/editListing.js
  src/js/features/listings/listings.js
  src/js/features/listings/listingsPage.js
  src/js/features/listings/myListings.js
  src/js/features/listings/singleListing.js
  src/js/features/profile/profile.js
  src/js/features/search/search.js
  src/js/index.js
  src/js/utils/loadingStates.js
  src/js/utils/profileListings.js
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
  src/styles/main.css
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write

style: format code and fix lint errors
  src/images/favicon-32x32.png
  src/index.html
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
Due: prettier --write

fixing vite file
  vite.config.js
Due: eslint --fix, prettier --write

fixing vite file
  README.md
Due: none

fixing env api key
  vite.config.js
Due: eslint --fix, prettier --write

created a netlify.toml file
  netlify.toml
Due: none

missing characters in netlify file
  netlify.toml
Due: none

adding correct img link on profile.html
  src/pages/profile.html
Due: prettier --write

added img 96 to file
  src/images/96.png
  src/pages/profile.html
Due: prettier --write

fix the HTML validation issues
  src/index.html
Due: prettier --write

fix the HTML validation issues
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/edit-listing.html
  src/pages/listings.html
  src/pages/login.html
  src/pages/profile.html
  src/pages/register.html
  src/pages/single-listing.html
Due: prettier --write

fix the HTML validation issues in profile.html
  src/pages/profile.html
Due: prettier --write

fix the HTML validation issues logo
  src/pages/active-bids.html
  src/pages/create-listing.html
  src/pages/listings.html
  src/pages/single-listing.html
Due: prettier --write

fix the HTML validation issues
  src/pages/login.html
  src/pages/register.html
  src/pages/single-listing.html
Due: prettier --write

fix active bids
  src/js/features/listings/activeBids.js
Due: eslint --fix, prettier --write

fix active bids
  src/js/index.js
Due: eslint --fix, prettier --write

fix active bids
  src/pages/active-bids.html
Due: prettier --write

fix active bids
  src/js/utils/userData.js
  src/pages/active-bids.html
Due: eslint --fix, prettier --write

fix active bids
  src/js/index.js
  src/pages/active-bids.html
Due: eslint --fix, prettier --write

added readme.file
  README.md
  src/pages/active-bids.html
Due: prettier --write

fixed profile link
  src/index.html
Due: prettier --write

fixed profile link
  src/js/index.js
Due: eslint --fix, prettier --write
